:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-Blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

html {
    font-size: 13px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 0.9rem;
}

p {
    line-height: 1.5;
}

h1,
h2,
h3,
.header_nav {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

p,
a,
button,
.contact *,
input {
    font-family: 'Open Sans', sans-serif;
}

header,
.container {
    width: 86%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 13em;
    margin: 9em 0 6em;
}

section>img {
    width: 100%;
}

header img {
    width: 26%;
}

.section_1 {
    text-align: center;
}

.section_1 h1 {
    font-size: 1.75rem;
}

.header_nav>*,
.section_1_text>*,
.section_2 h2 {
    color: var(--very-dark-blue);
}

.section_2_text>p {
    color: var(--desaturated-Blue);
}

.section_1_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.section_1_form input {
    padding: 0.75em 1em;
    border-radius: 0.3em;
    width: 22rem;
}

input {
    border: 0.11em solid var(--very-dark-blue);
    position: relative;
}

input:focus {
    outline: none;
    border: 0.11em solid hsl(0, 92%, 42%);
}

a {
    text-decoration: none;
    position: relative;
    width: fit-content;
}

a:not(.section_2_insight>a)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

a:not(.section_2_insight>a):hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.footer_nav a:hover {
    color: hsl(224, 100%, 70%);
}

input::placeholder {
    color: var(--light-gray);
}

button {
    background-color: var(--bright-blue);
    border: none;
    color: var(--light-grayish-blue);
    font-weight: 700;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: hsl(224, 100%, 70%);
    transform: scale(1.01);
}

.section_1_form button {
    font-size: 0.9rem;
    width: 22rem;
    padding: 1em 0;
    margin-top: 1.5em;
}

.section_1_text p {
    margin-top: 1.75em;
}

.section_1_text h1 {
    margin-top: 2em;
}

.section_2 h2 {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
}

.section_2_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_2_insight {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.3em;
    margin-top: 2.5em;
}

.section_2_insight a {
    font-size: 0.85rem;
    color: var(--moderate-cyan);
    transition: 300ms;
}

.section_2_insight::after {
    position: absolute;
    content: "";
    bottom: -0.3em;
    width: 100%;
    height: 0.1em;
    background-color: var(--moderate-cyan);
    transition: 300ms;
}

.section_2_insight:hover,
.section_2_insight:hover:after {
    opacity: 0.8;
}

.section_2_text>p {
    font-size: 0.95rem;
    margin-top: 1.25em;
}

.section_2_testimonial {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    padding: 1.25em 1em 1.25em 2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    margin-top: 2.5em;
    transition: 250ms ease-in;
    cursor: pointer;
}

.section_2_testimonial:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

.section_2_testimonial p {
    font-size: 0.75rem;
    color: var(--very-dark-blue);
    line-height: 1.75;
}

.section_2_testimonial_founder {
    display: flex;
    align-items: center;
    margin-top: 0.75em;
}

.section_2_testimonial_founder img {
    width: 2em;
    border-radius: 100vh;
    border: 1px solid hsl(0, 0%, 100%);
    margin-right: 0.25em;
}

.section_2_testimonial_founder h3 {
    font-size: 0.7rem;
}

.section_2_testimonial_founder p {
    font-size: 0.5rem;
}

.footer_purple {
    background-color: var(--desaturated-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3em 5em;
}

.footer_purple_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-grayish-blue)
}

.footer_purple_text * {
    text-align: center;
}

.footer_purple_text h2 {
    font-size: 1.25rem;
}

.footer_purple_text p {
    margin-top: 1em;
}

.footer_purple_form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
}

.footer_purple_form input {
    width: 16rem;
    padding: 0.75em;
    font-size: 0.75rem;
    border-radius: 0.25em;
}

.footer_purple_form button {
    width: 16rem;
    font-size: 0.75rem;
    padding: 1em 0;
    border-radius: 0.25em;
}

.footer_dark {
    background-color: var(--very-dark-blue);
    padding: 4em 2.5em 3em;
}

.footer_dark * {
    color: var(--light-grayish-blue);
    list-style: none;
}

.footer_dark_content {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-top: 2em;
}

.contact>* {
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-top: 3.5em;
}

.footer_social {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.75em;
    margin-top: 3.5em;
}

.footer_social>svg {
    border: 2px solid var(--light-gray);
    fill: hsl(240, 75%, 98%);
    border-radius: 100vh;
    padding: 0.4em;
    cursor: pointer;
    transition: 300ms;
}

.footer_social>svg:hover {
    border: 2px solid hsl(224, 100%, 70%);
    fill: #668fff;
}

.section_1_form input,
.footer_purple_form input {
    position: relative;
}

.section_1_form input::after,
.footer_purple_form input::after {
    content: "Please check your email";
    position: absolute;
    bottom: -60%;
    left: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
}

.section_1_form input::after {
    color: hsl(0, 92%, 42%);
}

.footer_purple_form input::after {
    color: hsl(240, 75%, 98%);
}

.section_1.section_1_form input::after,
.purple.footer_purple_form input::after {
    transform: scale(1);
}


@media screen and (min-width: 500px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 700px) {
    header img {
        width: 20%;
    }

    .header_nav {
        gap: 3em;
    }

    .container {
        width: 70%;
    }

    header {
        padding-top: 3em;
    }

    .footer_dark_content {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2em;
    }

    .footer_social {
        align-self: flex-start;
    }

    .footer_nav,
    .contact,
    .footer_social {
        margin-top: 0;
    }

    .footer_purple {
        padding-left: 0;
        padding-right: 0;
    }

    .footer_purple_text {
        width: 70%;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 18px;
    }

    .container,
    header {
        width: 90%;
    }

    header img {
        width: 15%;
    }

    .header_nav {
        font-size: 1rem;
    }

    footer {
        width: 100%;
    }

    .section_1,
    .section_2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .section_1>img,
    .section_2>img {
        width: 48%;
    }

    .section_1_text,
    .section_2_text {
        width: 45%;
    }

    .section_1_text>* {
        text-align: start;
    }

    .section_1_form {
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .section_1_form button {
        margin-top: 0;
        font-size: 0.75rem;
        width: 11rem;
    }

    .section_1_form input {
        width: 18rem;
        padding: 1em 0.75em;
    }

    .section_2_text h2 {
        align-self: flex-start;
        text-align: start;
        font-size: 1.75rem;
        margin: 0;
    }

    .section_2_text p {
        color: var(--very-dark-blue);
    }

    .section_2_insight {
        align-self: start;
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .section_2_testimonial {
        align-self: start;
        width: 80%;
    }

    .footer_purple {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 5em;
        padding: 5em 4em;
    }

    .footer_purple_text {
        align-items: flex-start;
        width: 42%;
    }

    .footer_purple_text h2 {
        font-size: 1.5rem;
    }

    .footer_purple_text * {
        text-align: start;
    }

    .footer_purple_form {
        margin-top: 0;
    }

    .footer_purple_form input {
        width: 30rem;
    }

    .footer_purple_form button {
        margin-top: 0.75em;
        width: 12rem;
    }

    .footer_dark_content {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1440px) {

    .section_1_text h1,
    .section_2 h2 {
        font-size: 2rem;
    }

    .section_2_testimonial {
        width: 56%;
    }

    .footer_purple {
        gap: 12rem;
    }

    .footer_purple_text h2 {
        font-size: 2rem;
    }

    .footer_purple_text p {
        width: 96%;
    }

    .footer_dark {
        padding-top: 6em;
        padding-left: 4em;
    }

    .footer_dark_content {
        width: 84%;
    }
}